*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Playpen Sans", cursive;
}

header {
    background-color: rgb(8, 8, 100);

}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);


}
footer {
    background-color: rgb(255, 255, 255);
    padding: 20px 15px;
}
.copy-text {
    color: rgb(0, 0, 0);
    text-align: center;
}

.card {
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 250px;
    height: 250px;
    background-color:rgb(211, 183, 204);
    border: 2px solid rgb(61, 56, 54);
    transform-style: preserve-3d;
    border-radius: 10px;
    transition: 0.5s transform ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;


    
}



.card::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "ответ";
    width: 100%;
    height: 100%;
    background-color:rgb(211, 183, 204);
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10%;
    transform: rotateY(180deg);
}

.card-show {
    transform: rotateY(180deg);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin: 50px auto;
    
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.contr {
    text-align: center;
    color: rgb(0, 0, 0);
}